* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}
body,
html,
#root,
.App {
  height: 100%;
}

.header {
  height: 100px;
  background-color: #3498db;
  color: #ecf0f1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  padding: 20px 50px;
}

.App {
  display: flex;
  flex-direction: column;
}
.footer {
  height: 50px;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ecf0f1;
  padding: 10px;
}

.container {
  flex: 1;
  background-color: #bdc3c7;
  display: flex;
  padding: 20px 40px;
}

.edit-window,
.display-window {
  flex: 1;
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px gray;
}

.edit-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: #bdc3c7;
  box-shadow: 0 0 5px 1px gray;
}

.general-display {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.general-display,
.education-display,
.work-display {
  padding: 80px;
}

input,
textarea {
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
}

.edit-title {
  font-size: 24px;
  font-weight: 800;
}

.name-display {
  font-size: 36px;
  font-weight: 700;
}

.occupation-display {
  font-size: 20px;
}

.phone-display {
  margin-top: 20px;
}

.separate-sections {
  background-color: #bdc3c7;
  height: 1px;
  margin: 0 40px;
}

.description-display {
  margin-top: 20px;
  font-style: italic;
}

form,
.edit-general-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* padding: 10px; */
  background-color: #ecf0f1;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px gray;
}

.edit-entry {
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px gray;
  /* font-size: 16px; */
}

.education-entry-listing {
  font-weight: 700;
}

.listing-title {
  font-size: 20px;
  font-weight: 700;
}

.listing-years {
  font-size: 14px;
}

.listing-description {
  margin-top: 10px;
}

.education-list,
.work-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.education-title,
.work-title {
  font-size: 26px;
  font-weight: 800;
}

.work-entry-listing {
  font-weight: 700;
}

textarea {
  resize: none;
}

.wrap-display {
  margin-right: auto;
}

.edit-button {
  background-color: #3498db;
}

.delete-button {
  background-color: #e74c3c;
}

.add-button {
  background-color: #27ae60;
}

button {
  transition: 0.2s all;
  width: 100px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 1px gray;
  cursor: pointer;
}

.header-text {
  margin-left: 10px;
}

.education-listing-buttons {
  display: flex;
  gap: 10px;
}
